<p id="notice"><%= notice %></p>

<p>
  <b>Reference:</b>
  <%= @requirement.reference %>
</p>

<p>
  <b>Shortdesc:</b>
  <%= @requirement.shortdesc %>
</p>

<p>
  <b>Longdesc:</b>
  <%= @requirement.longdesc %>
</p>


<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>
